---
layout: bootcamp
root: .
venue: George Washington University
address: Virginia Science and Technology Campus, Ashburn, VA
country: United-States
humandate: Apr 29-30, 2014
humantime: 9:00 am - 4:30 pm
startdate: 2014-04-29
enddate: 2014-04-30
latlng: 39.059322,-77.445661
registration: restricted
instructor: ["Aron Ahmadia", "Joshua R. Herr", "William Rowell"]
contact: admin@software-carpentry.org
---
<!--
    Edit the values in the parameter block above to be appropriate for your bootcamp.
    Please use three-letter month names for the 'humandate' field.
-->


<h2>General Information</h2>

<p>
  George Washington University, <a href="http://virginia.gwu.edu">Virginia Science and Technology Campus</a>, Ashburn, VA
  <br>
  Hosted by the IMPACT project and sponsored by Professors Tarek El-Ghazawi & Lorena Barba
  <br>
  April 29th-30th, 2014
  <br>
  9:00 am - 4:30 pm
</p>

<hr/>

<p>
  <a href="http://software-carpentry.org">Software Carpentry</a>'s mission
  is to help scientists and engineers become more productive
  by teaching them basic lab skills for computing
  like program design, version control, data management, and task automation.
  This two-day hands-on bootcamp will cover basic concepts and tools;
  participants will be encouraged to help one another
  and to apply what they have learned to their own research problems.
</p>

<!-- This block displays the instructors' names if they are available. -->
{% if page.instructor %}
<p>
  <strong>Instructors:</strong>
  {{page.instructor | join: ', ' %}}
</p>
{% endif %}

<!--
    Modify this block to reflect the target audience for your bootcamp.
    In particular, if it is only open to people from a particular institution,
    or if specialized prerequisite knowledge is required, please mention that.
-->
<p>
  <strong>What:</strong>
  Our goal is to help scientists and engineers become more productive
  by teaching them basic computing skills like program design, version
  control, testing, and task automation. In this two-day bootcamp,
  short tutorials will alternate with hands-on practical
  exercises. Participants will be encouraged both to help one another,
  and to apply what they have learned to their own research problems
  during and between sessions. Attendants are offered online office hours:
  regular events to get one-on-one help from Software Carpentry instructors,
  online.
</p>

<p>
  <strong>Who:</strong>
  The course is aimed at postgraduate students and other scientists
  who are familiar with basic programming concepts (like loops,
  conditionals, arrays, and functions) but need help to translate this
  knowledge into practical tools to help them work more
  productively.
</p>

<p>
  <strong>Content:</strong> The syllabus for this bootcamp will include:
</p>
<ul>
  <li>Using the shell to do more in less time.</li>
  <li>Using version control to manage and share information.</li>
  <li>Basic Python programming.</li>
  <li>How (and how much) to test programs.</li>
  <li>Documentation and debugging.</li>
</ul>

<!--
    This block displays the address and links to a map showing directions.
-->
{% if page.latlng %}
<p>
  <strong>Where:</strong>
  {{ page.address }}.
  Get directions with
  <a href="http://www.openstreetmap.org/?mlat={{ page.latlng | replace:',','&mlon=' }}&zoom=16">OpenStreetMap</a>
  or
  <a href="http://maps.google.com/maps?q={{ page.latlng }}">Google Maps</a>.
</p>
{% endif %}

<!--
    Modify the block below if there are any special requirements.
-->
<p>
  <strong>Requirements:</strong>
  Participants must bring a laptop with a few specific software packages installed
  (listed below).
</p>

<!--
    This block automatically inserts a contact email address if one has been specified for the page.
    If one hasn't, this block inserts the generic contact address for Software Carpentry.
-->
<p>
  <strong>Contact</strong>:
  Please mail
  {% if page.contact %}
    <a href='mailto:{{page.contact}}'>{{page.contact}}</a>
  {% else %}
    <a href='mailto:{{site.contact}}'>{{site.contact}}</a>
  {% endif %}
  for more information.
</p>

<hr/>

<p>
<h3>Etherpad Link</h3>
<div id="etherpad-link" class="row-fluid">
    We will use an <a href="https://etherpad.mozilla.org/I1hRwJkSSy">Etherpad page</a> to communicate and share notes together throughout the bootcamp.
  </div>

<hr>

<!--
    Edit this block to show the syllabus and schedule for your bootcamp.
-->
<h2>Tentative Schedule</h2>

      <div id="schedule" class="row-fluid">
        <div class="span6">
          <strong>Day 1</strong>
          <table class="table" style="width:80%;">
            <tbody>
            <tr>
                <td>8:30 - 9:00</td>
                <td style="text-align: right;">Installation help (optional)</td>
              </tr>
              <tr>
                <td>9:00 - 9:30</td>
                <td style="text-align: right;">Introduction</td>
              </tr>
              <tr>
                <td>9:30 - 10:45</td>
                <td style="text-align: right;"><a href="#">The Shell</a></td>
              </tr>
              <tr>
                <td>10:45 - 11:00</td>
                <td style="text-align: right;">Break</td>
              </tr>
                <tr>
                <td>11:00 - 12:30</td>
                <td style="text-align: right;"><a href="#">Scientific Programming I</a></td>
              </tr>
              <tr>
                <td>12:30 - 1:30</td>
                <td style="text-align: right;">Lunch</td>
              </tr>
              <tr>
                <td>1:30 - 3:00</td>
                <td style="text-align: right;"><a href="#">Scientific Programming II</a></td>
              </tr>
              <tr>
                <td>3:00 - 3:15</td>
                <td style="text-align: right;">Break</td>
              </tr>
              <tr>
                <td>3:15-4:45</td>
                <td style="text-align: right;"><a href="#">Data and Figures</a></td>
              </tr>
               <tr>
                <td>4:45 - 5:00</td>
                <td style="text-align: right;">Wrap up</td>
              </tr>
             </tbody>
          </table>
      </div>
          <div class="span6">

          <strong>Day 2</strong>
          <table class="table" style="width:80%;">
            <tbody>
           <tr>
                <td>9:00 - 10:45</td>
                <td style="text-align: right;"><a href="#">Version Control I</a></td>
            </tr>
            <tr>
                <td>10:45 - 11:00</td>
                <td style="text-align: right;">Break</td>
           </tr>
           <tr>
                <td>11:00 - 12:00</td>
                <td style="text-align: right;"><a href="#">Version Control II</a></td>
           </tr>
              <tr>
                <td>12:00 - 1:00</td>
                <td style="text-align: right;">Lunch</td>
              </tr>
              <tr>
                <td>1:00 - 2:45</td>
                <td style="text-align: right;"><a href="#">Testing and modules</a></td>
              </tr>
                <tr><td>2:45 - 3:00</td>
                <td style="text-align: right;">Break</td>
              </tr>
              <tr>
                <td>3:00 - 4:00</td>
                <td style="text-align: right;"><a href="#">Reproducible Workflow</a></td>
              </tr>
              <tr>
                <td>4:00 - 4:30</td>
                <td style="text-align: right;">Discussion and Wrap Up</td>
              </tr>
           </tbody>
          </table>
        </div>
      </div> <!-- schedule -->

<hr/>

<!--
    Edit the setup instructions in _includes/setup.html to reflect your bootcamp.
    (In particular, most bootcamps teach either Python or R, not both.)
-->

<h2>Setup</h2>

<p>
  To participate in a Software Carpentry bootcamp, 
  you will need working copies of the software described below.
  Please make sure to install everything
  (or at least to download the installers)
  <em>before</em> the start of your bootcamp.
</p>

{% include setup.html %}



<h2>Reference</h2>

<ul>
  <li><a href="http://swcarpentry.github.io/2014-01-31-ucsb/lessons/ref/shell.html">The Unix Shell</a></li>
  <li><a href="http://swcarpentry.github.io/2014-01-31-ucsb/lessons/ref/python.html">Python</a></li>
</ul>

<hr>

<h2>Instructors</h2>

<div class="media">
  <img class="media-object pull-left" src="./img/ahmadia.jpg" alt="Aron Ahmadia">
  <div id="ahmadia.a" class="media-body">
    Aron Ahmadia works at the intersection of applied mathematics, software engineering, and application domains as diverse as adaptive optics, semiconductor lithography, and ice-sheet modeling. His focus is in the collaborative development of robust, reproducible, and scalable software tools for computational science.
  </div>
</div>
<div class="media">
  <img class="media-object pull-left" src="./img/herr.jpg" alt="Josh Herr">
  <div id="herr.j" class="media-body">
    Josh Herr is a post-doctoral researcher at Michigan State University in the Department of Microbiology & Molecular Genetics. He holds a B.S. in Biochemistry, M.S. in Plant Biology, and a Ph.D. in Integrative Biology. His research interests introduced him to phylogenetics at the command line and he has transitioned from the lab bench (almost entirely) to the computational analysis of microbial genomes and metagenomes. Josh blogs about his research interests at Cyme & Cystidium and is an editor at the bioinformatics help forum Biostar.
  </div>
</div>
<div class="media">
  <img class="media-object pull-left" src="./img/rowell.jpg" alt="Billy Rowell">
  <div id="rowell.b" class="media-body">
    Billy Rowell is a Research Specialist for the Howard Hughes Medical Institute at the Janelia Farm Research Campus.  Trained primarily as a geneticist and molecular biologist, he has studied plant disease resistance, fruit fly development, and gene expression.  Currently he works in behavioral neuroscience, where he develops tools to process large sets of behavioral data.
  </div>
</div>

<hr>

<div class="footer">
  <a class="label swc-blue-bg" href="https://www.facebook.com/SoftwareCarpentry">Facebook</a>
  <a class="label swc-blue-bg" href="https://plus.google.com/u/0/114244759874490019250/posts">Google+</a>
  <a class="label swc-blue-bg" href="https://twitter.com/swcarpentry">Twitter</a>
  <a class="label swc-blue-bg" href="https://github.com/swcarpentry">GitHub</a>
  <a class="label swc-blue-bg" href="http://software-carpentry.org/feed.xml">RSS</a>
  <a class="label swc-blue-bg" href="http://swcarpentry.github.io/2014-01-31-ucsb/license.html">License</a>
  <a class="bugreport label swc-blue-bg" href="mailto:info@software-carpentry.org?subject=bug%20in%20index.html">Bug Report</a>
</div>

</body></html>
